<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new Food</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Add a new Food Item</h1>
    <a href="/">Home</a>

    <ul class="error">
    {{#errors}}
        <li>{{msg}}</li>
    {{/errors}}
    </ul>

    <form action="/food/add" method="post">
      <div><input type="text" name="name" placeholder="Name" value="{{foodItem.name}}" /></div>
      <div><input type="text" name="serving" placeholder="Serving" value="{{foodItem.serving}}"  /></div>
      <div><input type="number" name="calories" placeholder="Calories" value="{{foodItem.calories}}"  /></div>
      <div><input type="number" name="protein" placeholder="Protein" value="{{foodItem.protein}}"  /></div>
      <div><input type="number" name="fat" placeholder="Fat" value="{{foodItem.fat}}"  /></div>
      <div><input type="number" name="carbs" placeholder="Carbs" value="{{foodItem.carbs}}" /></div>

      <button>Save Food</button>
    </form>


  </body>
</html>
